<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>The Home Page<%= %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum ab, recusandae quia quaerat ut dolorum ipsam vitae
        fugiat! Iste, similique error voluptate quidem est architecto maxime nostrum molestias recusandae veritatis.</p>
</body>

</html>